body {
  margin: 0;
}

#cnzz_stat_icon_1279872469 {
  visibility: hidden;
}

.main {
  position: absolute;
  top: 0; right: 0; bottom: 0;left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 260px;
  margin-bottom: 50px;
}
.loading {
  width: 60px;
  height: 60px;
}
.text {
  position: absolute;
  right: 0; bottom: 30px;left: 0;
  display: flex;
  justify-content: center;
  color: #575757;
  font-weight: 500;
  letter-spacing: 1.3px;
}
.back {
  position: absolute;
  top: 10px;left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4e4e4e;
  font-size: 14px;
  letter-spacing: 1.1px;
}
.up {
  width: 24px;
  margin-right: 6px
}